* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.size-btn {
  background-color: #af757b;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  width: 130px;
  min-width: 130px;
  color: #fff;
}

.size-btn_selected {
  background-color: #ca3f40;
  width: 7rem !important;
  border-radius: 14px !important;
}

.option-card {
  background-color: #af757b;
  border-radius: 14px;
  padding: 8px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  width: 130px;
  min-width: 130px;
}

.option-title {
  font-size: 1rem;
  color: #fff;
  min-height: 40px;
  margin: 0 !important;
}

.option-prize {
  font-size: 1rem;
  color: #fff;
  margin: 0 !important;
}

.ingredient-amount {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: red;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  font-weight: 700;
}

.btnAdd,
.btnRemove {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  transition: all 250ms;
}

.text {
  font-size: 1.2rem;
}

main {
  height: calc(100vh - 96px);
}

.modal {
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-body {
  max-height: calc(90vh - 200px);
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 100px;
  min-height: 100px;
}

.btn-group {
  display: flex;
  width: 100%;
  gap: 12px;
}

.btnBuy {
  flex-grow: 1;
}

.left-panel {
  flex-grow: 1;
}

.right-panel {
  max-width: 30%;
}

.navbar-cart {
  position: relative;
}

.cart-badge {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: red;
  width: 30px;
  height: 30px;
}
