@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h1 {
  font-size: 1.8rem;
  flex-grow: 1;
  text-align: center;
}

.header-container button {
  font-size: 1.6rem;
}

.option-card {
  background-color: #b0767c;
  border-radius: 14px;
  padding: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.option-title {
  font-size: 1rem;
  color: #fff;
  min-height: 40px;
}

.option-prize {
  font-size: 1rem;
  color: #fff;
}
